.creation-item {
  padding: 4rem 2rem 2rem;
  display: flex;
  height: 0px;
  align-items: flex-end;
  color: white;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
}



@media (min-width: 1024px) {
  #our-creations {
    header {
      display: flex;
      width: 100%;
      margin-bottom: 8rem;
      justify-content: space-between;
    }
    main {
      ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3.2rem;
        margin-bottom: 3.2rem;
        .creation-item {
          min-height: 45rem;
          h3 {
            position: relative;
            z-index: 2;
            max-width: 7ch;
          }
        }
      }
    }
  }

}

@media (max-width: 1024px) {
  #our-creations {
    header {
      justify-content: center;
      margin-bottom: 5rem;
    }

    main {
      ul {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        margin-bottom: 3.2rem;
        .creation-item {
          min-height: 150px;
          h3 {
            position: relative;
            z-index: 2;
            max-width: 7ch;
          }
        }
      }

      
    }

    footer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }

}