.our-creations-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  header.section-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer.section-footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.creation {

  .creation-mobile {
    height: 250px;
  }
  .creation-desktop {
    height: 400px;

  }
  li {
    border-radius: 6px;
    border: 1px solid #ddd;
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 2rem;
    overflow: hidden;

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);

    }

    p {
      position: relative;
      text-align: initial;
      z-index: 3;
    }
  }
}