main.app-main {
  padding: 16rem 0;
  display: flex;
  flex-direction: column;
  gap: 18.5rem;
}

@media(max-width: 1024px) {
  main.app-main {
    padding: 9.6rem 0;
    display: flex;
    flex-direction: column;
    gap: 9.6rem;
  }
  
}