.interactive-desktop-content {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  .interactive-text {
    padding: 3rem;
    background-color: white;
  }
}

.interactive-mobile-content {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  img {
    width: 100%;
  }
  .interactive-text {
    margin-top: 2rem;
    background-color: white;
    text-align: center;
  }
}

