footer.app-footer {
  font-family: 'Alata', sans-serif;
  background-color: #222;
  padding: 4rem 0;
  .content-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  p {
    color: white;
  }
}

.social-media {
  width: 100%;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

.nav-footer {
  ul {
    display: flex;
    gap: 1rem;
    li {
      a {
        color: #aeaeae;
        text-decoration: none;
      }
    }
  }
}