footer.app-footer {
  padding: 4.5rem 0;
  background-color: #000000;
  div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3.2rem;
    text-align: center;
    div {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
    }
    ul {
      display: flex;
      gap: 3.2rem;
      justify-content: center;
      li {
        color: white;
        font-family: 'Alata', sans-serif;
      }
    }
    .footer-navigation {
      flex-direction: column;
    }

    @media (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: initial;
      div {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
      }
      div:last-child {
        display: flex;
        flex-direction: column;
        align-items: end;

      }
      .footer-navigation {
        flex-direction: row;   
      }
    }
  }
}
