* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 48px;
}

h1,
h2,
h3 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}

p {
  font-family: 'Alata', sans-serif;
  color: rgba(0, 0, 0, 0.60);
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

section {
  padding: 4rem 0;
}